In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
n = int(input("Enter an integer value greater than 0: "))

Enter an integer value greater than 0: 2

In [ ]:
even = []
odd = []
fibonacci = [0,1]

In [ ]:

if n < 1:
  n = int(input("Enter an integer value greater than 0: "))
else:
  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [ ]:
len(even) == len(odd) == len(fibo)

False

In [ ]:
odd

[1, 3]

In [ ]:
even

[0, 2]

In [ ]:
fibo

[0, 1, 1, 2, 1, 1, 1, 1]

In [ ]:
dict = (even, odd, fibo)
df = pd.DataFrame(dict)
df.head()
display(df)

   0  1    2    3    4    5    6    7
0  0  2  NaN  NaN  NaN  NaN  NaN  NaN
1  1  3  NaN  NaN  NaN  NaN  NaN  NaN
2  0  1  1.0  2.0  1.0  1.0  1.0  1.0